*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}


.display-none{
    display: none;
}

.avatar{
    height: 30px;
    width: 30px;
    border-radius: 30px;
}

.search-input{
    padding: 0.2rem 0.5rem;
    border-radius: 1rem;
    border: none;
    background-color: #F3F3F8;
}

.search-input input{
    padding: 0.5rem;
    border: none;
    background-color: transparent;
}

.container{
    display: flex;
    height: 100vh;
    overflow: hidden;
}

.sidebar{
    width: 240px;
    flex-shrink: 0;
    overflow-y: auto;
    background-color: #1A2942;
}

.sidebar-first-row{
    display: flex;
    justify-content: center;
    padding: 1rem;
    font-size: large;
    color: white;
}

.sidebar-second-row{
    gap: 1rem;
    padding: 1rem;
    font-size: small;
    color: azure;
}

.second-row-list{
    gap: 1rem;
    padding: 1rem;
    list-style: none;
    font-size: smaller;
    color: white;
}

.second-row-list .second-row-list-item{
    display: flex;
    justify-content: space-between;
    padding: 1rem;
}


.main{
    flex-grow: 1;
    overflow: auto;
    background-color: #EAF1F3;
}

.main-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    padding: 1rem;
    box-shadow: 0px 2px 15px rgba(111,111,111, 0.188);
    background-color: white;
}

.main-header .col{
    display: flex;
    align-items: center;
    gap: 1rem;
    color: gray;
}

.first-row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    gap: 1rem;
    padding: 1rem;
    color: gray;
}

.first-row-item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    padding: 2rem;
    font-size: smaller;
    color: gray;
}

.main-top-bar .row{
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    padding: 1rem;
}

.card{
    display: flex;
    justify-content: space-between;
    height: 148px;
    width: 25%;
    color: white;
}

.card-text{
    width: 75%;
    margin: 15px 0;
    padding: 1.5rem;
    font-size: 20px;
}

.card-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25%;
 }

.card-first{
    background-color: rgb(242, 79, 124);
}

.card-second{
    background-color: rgb(113, 108, 176);
}

.card-third{
    background-color: rgb(51, 176, 224);
}

.card-fourth{
    background-color: rgb(59, 192, 195);
}

.card-icon-first{
    background-color: rgba(245, 170, 191, 0.87);
   
}

.card-icon-second{
    background-color: rgba(151, 148, 190, 0.802);
}

.card-icon-third{
    background-color: rgba(133, 207, 236, 0.786);
}

.card-icon-fourth{
    background-color: rgba(165, 231, 231, 0.816);
}

.img{
    font-size: 40px;
    color: white;
}

.main-container{
    display: flex;
    justify-content: space-between;
    width: 60%;
    margin-bottom: 1rem;
}

.container-first-row{
    display: flex;
    flex-direction: row;
    padding: 0.3rem;
}

.first-col{
    height: 553px;
    width: 905px;
    padding: 0.3rem;
    margin: 1rem;
    background-color: aqua;
}

.second-col{
    height: 553px;
    width: 40%;
    padding: 0.3rem;
    margin: 1rem;
    background-color: chartreuse;
}

.second-col-item{
    height: 116px;
    width: 460px;
    background-color: blue;
}


.chat-content{
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
    padding: 1rem;
}

.chat-container{
    width: 35%;
    height: 500px;
    padding: 1rem;
   
}

.chat-container-row{
    display: flex;
    justify-content: space-between;
    height: 50px;
}

.chat-col-1{
    color: gray;
}

.chat-col-2{
    color: gray;
    cursor: pointer;
}

.chat{
    display: flex;
    flex-direction: column;
    height: 400px;
    overflow: auto;
}

.woman-avatar{
    height: 30px;
    width: 30px;
    border-radius: 100%;
    background-color: pink;
}

.man-avatar{
    height: 30px;
    width: 30px;
    border-radius: 100%;
}

.chat .chat-row-1 .chat-avatar{
    display: flex;
    flex-direction: column;
    margin-left: 2rem;
}

.chat .chat-row-1 .chat-avatar .woman-avatar
.chat .chat-row-3 .chat-avatar .woman-avatar
.chat .chat-row-5 .chat-avatar .woman-avatar{
    border: 1px solid transparent;
    height: 30px;
    width: 30px;
    border-radius: 100%;
    
}

.chat-row-1,
.chat-row-3,
.chat-row-5{
    display: flex;
    margin-top: 2rem;
}

.chat .chat-row-1 .chat-text,
.chat .chat-row-3 .chat-text,
.chat .chat-row-5 .chat-text{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    border-radius: 1%;
    border: 1px solid transparent;
    padding: 1rem;
    width: 200px;
    color: rgb(112, 128, 154);
    background-color: rgba(155, 158, 164, 0.817);
}

.chat .chat-row-2,
.chat .chat-row-4{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    margin-right: 1rem;
}

.chat .chat-row-2 .chat-text,
.chat .chat-row-4 .chat-text{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    border-radius: 1%;
    border: 1px solid transparent;
    padding: 1rem;
    width: 200px;
    color: rgb(59, 192, 195);
    background-color: rgba(171, 213, 214, 0.748);
}

.chat .chat-row-2 .chat-avatar .man-avatar
.chat .chat-row-4 .chat-avatar .man-avatar{
    display: flex;
    justify-content: center;
    border: 1px solid transparent;
    border-radius: 100%;
    width: 35px;
    height: 35px;
    margin-left: 1rem;
}

.container-table{
    display: flex;
    justify-content: space-between;
    height: 508px;
    width: 65%;
    padding: 1rem;
    background-color: blueviolet;
    margin-bottom: 1rem;
}

.container-table-row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    width: 65%;
    background-color: bisque;
}

.table-list-item{
    display: flex;
    
}

.table-list{
    display: flex;
}

.table{
    display: flex;
}
